body{ font-family:Arial; font-size:13px }
body.javascript{visibility:hidden;}
h1{font-size:17px; margin:5px 0;font-family:Arial;}
h2{font-size:15px}

fieldset {padding:6px;border-radius:3px}
label{font-weight: 900}
input[type=text]{border:1px solid #555; padding:4px}

header {background-image: url('../images/head.jpg'); background-repeat: no-repeat; height:100px; background-position: center;}
footer {margin-top:12px;margin-top:12px}
footer p {font-size:11px; color:#444; margin:5px; text-align: center}

.box_padding{padding:12px}
.form-actions{text-align: right}
p.title{margin-bottom: 20px;}
.overlay{position:fixed; top:0; left:0; right: 0; bottom: 0; background: #fff; background: rgba(255,255,255,.6);}
.overlay .message{position: absolute; top:50%; left: 50%; width: 80px; height: 20px; margin-left: -50px; margin-top: -25px; background: #fff; border: solid 1px #ccc; text-align: center; font: 14px 'Verdana'; padding: 10px;}
.error_list{color:red; font-weight: bold;}
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	width: 100%
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.bank_response{font: bold 20px Verdana;text-align: center;}

#siteseal{
  margin-top: 10px;
  display: block;
}